@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "shadcn/ui/dist/shadcn-ui.css"; */
body {
  font-family: "Open Sans", sans-serif;
}

.open-sens {
  font-family: "Open Sans", sans-serif;
}
canvas {
  border: 2px solid gray;
}
/* styles.css */
.text-gradient {
  background: linear-gradient(to right, #00bef2, #17469e);

  -webkit-text-fill-color: transparent;
}

.map-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}

.map-modal {
  position: relative;
  width: 60%;
  max-width: 800px;
  height: 70%;
  max-height: 600px;
  background: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  outline: none;
  display: flex;
  flex-direction: column;
}

.map-container {
  flex: 1;
  width: 100%;
  height: 100%;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #ff4b4b;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
}

.close-button:hover {
  background: #e04343;
}
